<?xml version="1.0" encoding="UTF-8"?>
<dataModule>
  <identification>
    <dmc>{{ module.dmc }}</dmc>
    <title>{{ module.title }}</title>
    <dmType>{{ module.dm_type }}</dmType>
    <infoVariant>{{ module.info_variant }}</infoVariant>
  </identification>
  <content><![CDATA[
{{ module.content }}
  ]]></content>
</dataModule>
